@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/200/Jost-ExtraLight.eot') format('embedded-opentype'),
        url('../fonts/Jost/200/Jost-ExtraLight.woff2') format('woff2'),
        url('../fonts/Jost/200/Jost-ExtraLight.woff') format('woff'),
        url('../fonts/Jost/200/Jost-ExtraLight.ttf') format('truetype'),
        url('../fonts/Jost/200/Jost-ExtraLight.svg#Jost-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/300/Jost-Light.eot') format('embedded-opentype'),
        url('../fonts/Jost/300/Jost-Light.woff2') format('woff2'),
        url('../fonts/Jost/300/Jost-Light.woff') format('woff'),
        url('../fonts/Jost/300/Jost-Light.ttf') format('truetype'),
        url('../fonts/Jost/300/Jost-Light.svg#Jost-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/400/Jost-Regular.eot') format('embedded-opentype'),
        url('../fonts/Jost/400/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost/400/Jost-Regular.woff') format('woff'),
        url('../fonts/Jost/400/Jost-Regular.ttf') format('truetype'),
        url('../fonts/Jost/400/Jost-Regular.svg#Jost-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/500/Jost-Medium.eot') format('embedded-opentype'),
        url('../fonts/Jost/500/Jost-Medium.woff2') format('woff2'),
        url('../fonts/Jost/500/Jost-Medium.woff') format('woff'),
        url('../fonts/Jost/500/Jost-Medium.ttf') format('truetype'),
        url('../fonts/Jost/500/Jost-Medium.svg#Jost-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {    
    display: grid;
    justify-content: center;
}

.article__header {
    display: grid;
    grid-template-areas:    'article__header__line article__header__h2'
                            'article__header__p article__header__p';
    grid-template-columns: repeat(2, fit-content(100%));
    align-items: center;
    column-gap: 6px;

    margin-left: 150px;
    margin-right: 150px;

    font-family: 'Jost';
}

.article__header__line {
    grid-area: article__header__line;
    justify-self: end;
    width: 24px;
    height: 2px;
    border-radius: 1px;

    background-color: #FEC901;
}

.article__header__h2 {
    grid-area: article__header__h2;
    justify-self: start;
    text-align: center;

    line-height: 26px;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.article__header__p {
    grid-area: article__header__p;

    margin-top: 18px;

    color: #FFFFFF;

    text-align: center;
    line-height: 31px;
    font-weight: 500;
    font-size: 24px;    
    letter-spacing: 0.01em;
}

.article-two_margin-top {
    margin-top: 122px;
}

.article-three_margin-top {
    margin-top: 121px;
}

.article-one {
    width: 1440px;

    display: grid;
    grid-template-areas:    'article-one__h1 article-one__images-wrap'
                            'article-one__p article-one__images-wrap'
                            'article-one__button article-one__images-wrap'
                            'article-one__footer article-one__footer';
    grid-template-columns: fit-content(511px) 601px;
    justify-content: space-between;
    justify-items: start;
    overflow: hidden;

    padding: 46px 154px 0px 150px; 

    font-family: 'Jost';
    background-color: #161616;

    filter: drop-shadow(12px 8px 24px rgba(0, 0, 0, 0.25));
}

.article-one__h1 {
    grid-area: article-one__h1;

    margin-top: 36px;

    line-height: 46.8px;
    font-weight: 500;
    font-size: 36px;

    color: #FFFFFF;
}

.article-one__p {
    grid-area: article-one__p;

    margin-top: 14px;

    line-height: 20.8px;
    font-weight: 300;
    font-size: 16px;

    color: #FFFFFF;
}

.article-one__button {
    grid-area: article-one__button;

    margin-top: 32px;

    line-height: 20.8px;
    font-weight: 500;
    font-size: 16px;

    padding: 11px 37px 12px 37px;

    border: 0;
    background-color: #FEC901;
    color: black;

    cursor: pointer;
}

.article-one__images-wrap {
    grid-area: article-one__images-wrap;
    position: relative;
}

.article-one__images-wrap__image-one {
    position: absolute;
    z-index: 1;
    top: 32px;
    left: 0px;

    filter: drop-shadow(12px 4px 12px rgba(0, 0, 0, 0.25));
}

.article-one__images-wrap__image-two {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 62px;

    filter: drop-shadow(12px 4px 12px rgba(0, 0, 0, 0.25));
}

.article-one__images-wrap__image-three {
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 317px;

    filter: drop-shadow(12px 4px 12px rgba(0, 0, 0, 0.25));
}

.article-one__images-wrap__progress {
    position: absolute;
    top: 42px;
    left: 560px;
    
    display: grid;
    justify-items: center;

    color: #FEC901;
    line-height: 46.8px;
    font-weight: 200;
    font-size: 36px;
}

.article-one__images-wrap__progress__line {
    width: 1px;
    height: 130px;

    background-color: #FEC901;
}

.article-one__footer {
    grid-area: article-one__footer;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, fit-content(100%));
    justify-content: center;
    column-gap: 36px;
    max-width: 1136px;
    overflow: hidden;

    margin-top: 189px;
    padding: 18px 76px 19px 76px;

    border-radius: 0px 0px 50px 50px;
    background-color: #FEC901;
}

.article-one__footer__section {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    align-items: center;
    column-gap: 8px;
}

.article-one__footer__section__h2 {
    line-height: 21px;
    font-weight: 500;
    font-size: 16px;    
    letter-spacing: -0.0075em;  
}

.article-two {
    width: 1440px;

    display: grid;
    justify-items: center;

    font-family: 'Jost';
    background-color: #161616;
}

.article-two__section-cell {
    margin-top: 87px;
    margin-bottom: 21px;
    width: 798px;
    min-height: 233px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, fit-content(100%));
    grid-template-rows: 100%;
    justify-content: space-between;
}

.article-two__cell-item {
    position: relative;
    z-index: 1;
    width: 133px;
    display: grid;
    justify-items: center;
    row-gap: 12px;

    color: #FFFFFF;
    text-align: center;
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.0075em;
}

.article-two__cell-item:nth-child(2) {
    margin-left: 13px;
    width: 144px;
}

.article-two__cell-item:nth-child(odd) {
    align-self: start;
}

.article-two__cell-item:nth-child(even) {
    align-self: end;
}

.article-two__section-cell__line {
    position: absolute;
    z-index: 0;
    top: 3.22px;
    left: 94px;
}

.window-cards {
    width: 1046px;
    overflow: hidden;
    display: grid;
}

.window-cards_margin-top {
    margin-top: 56px;
}

.article-three {
    width: 1440px;

    display: grid;
    justify-items: center;

    background-color: #161616;
    font-family: 'Jost';
}

.article-three__wrap-cards {
    display: grid;
    grid-template-columns: repeat(5, 236px);
    column-gap: 34px;
    position: relative;
    /* left: -50px; */
}

.article-three__card {
    display: grid;
    grid-template-areas:    'article-three__card__image article-three__card__image'
                            'article-three__card__vertical-line article-three__card__h3'
                            'article-three__card__p article-three__card__p'
                            'article-three__card__a article-three__card__a';
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, fit-content(100%)) 1fr;
    align-items: center;
    align-content: start;

    border-radius: 0px 0px 7px 7px;
    background-color: #2D2E2A;
    background-image: url(../images/17.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.article-three__card__image {
    grid-area: article-three__card__image;
    justify-self: center;
    margin-top: 18px;
}

.article-three__card__vertical-line {
    grid-area: article-three__card__vertical-line;
    height: 11px;
    width: 2px;
    border-radius: 1px;
    background-color: #FEC901;
    margin: 9px 4px 0px 17px;
}

.article-three__card__h3 {
    grid-area: article-three__card__h3;
    margin: 9px 9px 0px 0px;

    color: #FFFFFF;
    line-height: 21px;
    font-weight: 500;
    font-size: 16px;    
    letter-spacing: -0.0075em;
}

.article-three__card__p {
    grid-area: article-three__card__p;
    margin: 8px 9px 0px 17px;

    color: #FFFFFF;
    line-height: 21px;
    font-weight: 300;
    font-size: 16px;  
    
    letter-spacing: -0.0075em;
}

.article-three__card__a {
    grid-area: article-three__card__a;
    align-self: end;
    display: grid;
    grid-template-columns: fit-content(100%) min-content;
    align-items: center;
    column-gap: 8px;
    margin: 4px 9px 17px 17px;

    text-decoration: none;
    color: #FEC901;
    font-family: Jost;
    line-height: 21px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.0075em;
}

.window-cards-slider {
    display: grid;
    grid-template-columns: repeat(3, 43px);
    column-gap: 12px;
    height: 4px;
}

.window-cards-slider_margin {
    margin: 35px 0px 50px 0px;
}

.window-cards-slider__item {
    border-radius: 2px;
    cursor: pointer;
}

.window-cards-slider__item:first-child {
    background-color: #FEC901;
}
.window-cards-slider__item:nth-child(2) {
    background-color: #FEC901;
    opacity: 0.6;
}
.window-cards-slider__item:last-child {
    background-color: #FEC901;
    opacity: 0.2;
}